@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

.main {
  background-color: #0f0e0e;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}
